/*^ mikezolo / PORTFOLIO / styles.css */

/* Prefixed by https://autoprefixer.github.io / PostCSS: v8.4.14 / Autoprefixer: v10.4.7 / Browsers: last 4 version */

/* * * ---  GENERAL RULES  -------------- * * */
* {
    font-family: Tahoma, Helvetica, Geneva, sans-serif;
    text-align: center;
}

/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    border: none;
}

/* * * --- INHERITABLE elements  ----------- * * */ 

/* TOP NAV BAR Settings */
nav {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    min-width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 999;
}

nav button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bolder;
    -webkit-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}

button:hover {
    background-color: #666;
    color: #fff;
    border: 2px #000;
}

/* HEADERS Settings */
h1, h2, h3, h4, h5, h6 {
    position: relative;
    text-align: center;
    margin: 10px auto 0;
}

h2 {
    font-size: 2.8em;
    color: #000;
    margin: 20px auto 10px;
    line-height: 1.1;
}

h3 {
    color: #444;
    font-size: 2.2em;
    line-height: 1.2;   
}

h4 {
    color: #444;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 0.9;   
}

h5 {
    text-align: center;
    color: #000;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1;   
}

h6 {
    text-align: left;
    font-size: 16px;
    color: #000;
    margin: 10px auto;
}

.uni-head {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px auto 5px;
    margin: 0 ;
    max-width: 80%;
}

.small-userpic {
    width: 80px;
    border-radius: 100%;
    -o-object-position: right;
       object-position: right;
    margin: 0;
    padding: 10px 15px 0;
}

.uni-head h4, h5 {
    text-align: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.uni-head h2 {
    text-align: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/** PARAGRAPH settings */
p {
    text-align: justify;
    max-width: 800px;
    min-width: 35%;
    margin: 10px auto; /* Centering the paragraph horizontally */
    padding: 10px 15px 0;
    font-size: 1.1em;
}

ul {
    text-align: left;
    font-size: 1.1em;
}

a {
    color: #000;
    font-size: 1.05em;
    text-align: left;
}

/** INFO BLOCK settings */
.infoblock {
    font-size: 1.1em;
    font-weight: lighter;
    color: #444;
    min-width: 20%;
    max-width: 1000px;
    text-align: center;
    margin: auto; /* Center horizontally*/
    padding: 10px;
}

/** FOOTER BLOCK */
footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    min-height: 40px;
    padding: 5px 0 20px;
    width: 100%;
}

/** Footer specific settings */
footer p {
    text-align: center;
    max-width: 100%;
    min-width: 200px;
    margin: 0;
    padding: 5px 20px 10px;
    font-size: 1.4em;
    line-height: 1.6;
}

footer a {
    color: #fff;
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.license {
    color: #fff;
    font-weight: light;
}

.license a {
    margin: 0 auto; /* Reset margin to remove default spacing */
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact {
    color: #fff;
    font-weight: bolder;
}

.contact a {
    margin: 0 auto; /* Reset margin to remove default spacing */
    border-top: 15px;
    padding-bottom: 10px;
}

/*** ======  PAGE-SPECIFIC SETTINGS (local)  ====== * * */

/** PROJECTS BLOCK */
/*? BLOCK settings */
.container {
    width: 100%;
    padding: 15px auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /*flex property */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; /*flex property */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /*flex property */
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; /*flex property */
    gap: 15px; /*flex property */
    text-align: left;
}
/* >> Up to here OK!!! workflow comment >> REMOVE */

/*? PROJECT catalog div settings */

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 28em; /*todo: test View */
    height: auto; /*todo: test View */
    border: #999 solid 5px;
    border-radius: 5px;
    padding: 10px 15px;
    float: left;
    text-align: left;
}

.project h4 {
    text-align: left;
    width: 100%;
    margin: 0 10px 10px;
}

.project button {
    padding: 2px;
    margin: 12px 0 0 10px;
    border: #999 solid 3px;
    border-radius: 5px;
}

.project button:hover {
    background-color: #333;
    color: #fff;
}

.project a {
    color: #000;
    font-weight: 400;
    font-size: 1.1em;
    text-align: left;
}

.project a p ul li {
    width: 290px;
    margin: 0;
    text-align: left;
    padding: 3px 0;
    background-color: #fff;
    /*todo: position <p> and <ul> to the right of the img */
}

.project ul li {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: square;
}

.project img {
    position: static;
    height: 16.5em;
    width: 11em;
    border-radius: 5px;
    float: left;
    border: 3px solid #333;
    background-color: #eee;
    padding: 2px;
}

/*^ *======================== THE END ======================= * ^*/
