/*^ mikezolo / PORTFOLIO / styles.css */

/* * * ---  GENERAL RULES  -------------- * * */
* {
    font-family: Tahoma, Helvetica, Geneva, sans-serif;
    text-align: center;
}

/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    border: none;
}

/* * * --- INHERITABLE elements  ----------- * * */ 

/* TOP NAV BAR Settings */
nav {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    min-width: 20%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 999;
}

nav button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.1s;
}

button:hover {
    background-color: #666;
    color: white;
    border: 2px #000;
}

/* HEADERS Settings */
h1, h2, h3, h4, h5, h6 {
    position: relative;
    text-align: center;
    margin: 10px auto 0;
}

h2 {
    font-size: 50px;
    color: #000;
    margin: 20px auto 10px;
    line-height: 1.1;
}

h3 {
    color: #666;
    font-size: 38px;
    line-height: 1.2;   
}

h4 {
    color: #555;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.9;   
}

h5 {
    text-align: center;
    color: #888;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;   
}

h6 {
    text-align: left;
    font-size: 16px;
    color: #222;
    margin: 10px auto;
}

.uni-head {
    display: inline-flex;
    align-items: center;
    padding: 10px auto 5px;
    margin: 0 ;
    max-width: 80%;
}

.small-userpic {
    width: 80px;
    border-radius: 100%;
    object-position: right;
    margin: 0;
    padding: 10px 15px 0;
}

.uni-head h4, h5 {
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.uni-head h2 {
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

/** PARAGRAPH settings */
p {
    text-align: justify;
    max-width: 800px;
    min-width: 35%;
    margin: 10px auto; /* Centering the paragraph horizontally */
    padding: 10px 15px 0;
}

ul {
    text-align: left;
}

/** INFO BLOCK settings */
.infoblock {
    font-size: 16px;
    font-weight: lighter;
    color: #666;
    min-width: 20%;
    max-width: 1000px;
    text-align: center;
    margin: auto; /* Center horizontally*/
    padding: 10px;
}

/** FOOTER BLOCK */
footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    min-height: 40px;
    padding: 5px 0 20px;
    width: 100%;
}

/** Footer specific settings */
footer p {
    text-align: center;
    max-width: 100%;
    min-width: 200px;
    margin: 0;
    padding: 5px 20px 10px;
    font-size: 20px;
    line-height: 1.6;
}

footer a {
    color: #fff;
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.license {
    color: #fff;
    font-weight: light;
}

.license a {
    margin: 0 auto; /* Reset margin to remove default spacing */
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact {
    color: #fff;
    font-weight: bolder;
}

.contact a {
    margin: 0 auto; /* Reset margin to remove default spacing */
    border-top: 15px;
    padding-bottom: 10px;
}

/*** ======  PAGE-SPECIFIC SETTINGS (local)  ====== * * */

/** PROJECTS BLOCK */
/*? BLOCK settings */
.container {
    width: 100%;
    padding: 15px auto;
    margin: 0;
    display: flex; /*flex property */
    flex-wrap: wrap; /*flex property */
    justify-content: center; /*flex property */
    align-items: stretch; /*flex property */
    gap: 15px; /*flex property */
    text-align: left;
}

/*? PROJECT catalog div settings */
.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 28em; 
    height: auto;
    border: #999 solid 5px;
    border-radius: 5px;
    padding: 10px 15px;
    float: left;
    text-align: left;
}

.project h4 {
    text-align: left;
    width: 100%;
    margin: 0 10px 10px;
}

.project button {
    padding: 10px;
    margin: 8px 0 0 10px;
    border: solid 3px #000;
    border-radius: 8px;
}

.project button:hover {
    background-color: #333;
    color: #fff;
}

.project a {
    color: #666;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.project a p ul li {
    width: 290px;
    margin: 0;
    text-align: left;
    padding: 3px 0;
    background-color: #fff;
}

.project ul li {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: square;
}

.project img {
    height: 16.5em;
    width: 11em;
    border-radius: 5px;
    float: left;
    border: 3px solid #333;
    background-color: #eee;
    padding: 2px;
}

/**======================== END ======================= **/
