/* styles.css */

/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Tahoma;
    text-align: center;
    position: relative;
}

/* Style the navigation */
nav {
    background-color: #333;
    padding: 10px;
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

nav button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.1s;
}

button:hover {
    background-color: #666;
    color: white;
    border: 2px #000;
}

#ukraine {
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    padding: 4px 5px 1px;
}

#email-text {
    display: flex;
    align-items: center;
    text-decoration: none; /* This removes the underline */
}

#email {
    width: 50px;
    height: 40px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center; /* This centers the icon vertically */
}

/* Style the header */
h2 {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding: 20px 10px 20px;
    font-size: 50px;
    color: #000;
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: #666;
    font-size: 40px;
}

h4 {
    text-align: center;
    margin-top: 15px;
    color: #777;
    font-size: 22px;
    font-weight: 600;
}

h5 {
    text-align: center;
    margin-top: 10px;
    color: #888;
    font-size: 20px;
    font-weight: 500;
}

/* Additional styles for sidebar */

.container {
    display: flex;
    padding: 0 10px;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    max-width: 800px; 
    min-width: 300px;
    margin: 0 auto;
}

.sidebar {
    background-color: #eee; /* Changed background color */
    padding: 20px;
    border-right: 1px solid #ccc;
    width: auto;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    background-color: #fff; /* Added background color */
    padding: 8px 16px; /* Added padding */
    text-align: left;
}

.sidebar a:hover {
    background-color: #ddd; /* Hover background color */
}

.main-content {
    margin-left: 20px;
    width: auto;
}

.project {
    margin-bottom: 40px;
    width: auto;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Style the paragraph */
p {
    text-align: justify;
    display: flex;
    max-width: 800px; /* Limiting paragraph width */
    min-width: 300px;
    margin: 0 auto; /* Centering the paragraph horizontally */
}

.infoblock {
    font-size: 16px;
    font-weight: lighter;
    color: #666;
    min-width: 300px;
    margin-top: 240px;
}

.bottom-links {
    text-align: center;
    margin-top: 40px;
    color: #888;
    font-size: larger; 
}   

.bottom-links a {
    color: #333;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: justify;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 5px 16px 16px;
}

 footer a {
    color: white;
    text-align: center;
 }
